<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Drive Site</h1>
  <a href="{% url 'logout' %}">Logout</a>
	<hr>
    <form action="{% url 'drive-user-upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
                   title="Upload file"
                   name="to_be_uploaded"
                   required="required">
        <p>
        <input type="submit"
                   value="Upload">
        </p>
    </form>
    <hr>
	<h2>Your Uploads</h2>
	{% for upload in uploads %}
	<p>
		<a href="media/{{ upload.file.name}}">{{ upload.file.name }}</a> ------> <a href="{% url 'file-download' pk=upload.pk %}">Download</a>
	</p>
  {% empty %}
    <p>
      Your uploaded files will show up here!
    </p>
	{% endfor %}

</body>
</html>